:root {
    --color-text: #000000;
    --color-white: #ffffff;
    --color-teal: #5dd9c8;
    --color-orange: #ff9235;
    --color-purple: #8063a6;
    --color-navy: #141c3a;
    --color-navbar-shadow: #0000002a;
}
